{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block body_content %}
<div class="container">
    <h2>Log in</h2>
    <div id="login">
        <form action="{{url_for("login")}}" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="text" name="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <input type="submit">
        </form>
    </div>

    <h2>Register account</h2>
    <div id="new-user">
        <form action="{{url_for("register")}}" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="text" name="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <input type="submit">
        </form>
    </div>
</div>
{% endblock %}
